@*@model BugTracker2.Models.Tickets
@{
    ViewBag.Title = "History";
}


    <h4>Ticket History</h4>
    <hr />
<div class="col-md-12 content">
    <h1>Ticket History: @Html.ActionLink(Model.Title, "Details", new { id = Model.Id })</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
           @{ var ticketHistory = Model.History; }
           @foreach (var history in ticketHistory.Reverse())
            {
                <h3>@history.Date.ToString("M/d/yy h:mm t")M</h3>
                <p>@Html.Raw(history.NewValue)</p>
            }
        </div>
    </div>
</div>*@

