@model BugTracker2.Models.AdminProjectUserAssignViewModel
@{
    ViewBag.Title = "ProjectUser";

}


<br/>
<br/>
<br/>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.User.Id)

    @Html.ListBox("SelectedProjects", Model.Projects)

    <input type="submit" value="Save" class="btn btn-default" />

    <h5>@Html.ActionLink("Back to Index", "Index", "Admin")</h5>
}


